<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

	<!-- Nivel de detalle que se quiere mostrar en el log -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    
<!--     Crea mas detalle de log de una clase en especifico -->
    <logger name="com.logbacboot.logbackboot.service.MyServiceImpl" additivity="false" level="debug">
    	<appender-ref ref="STDOUT" />
    </logger>
</configuration>